html.fixed {
  position: fixed;
  overflow-y: scroll;
  width: 100%;
}
body {
  font-family: 'Roboto', 'Noto Sans KR', sans-serif;
  word-break: keep-all;
  color: #1d1d1d;
  font-size: 16px;
  line-height: 1;
}
a {
  text-decoration: none;
  color: #1d1d1d;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  padding: 0 10px;
  border: none;
  border-radius: 100px;
  outline: none;
  font-size: 11px;
  line-height: 1;
  color: #fff;
  background-color: #0071E3;
  cursor: pointer;
}
.btn:hover {
  opacity: .7;
}
.btn:focus {
  box-shadow: 0 0 0 4px #81B9F1;
}
/* header */
header {
  background-color: #3A3A3A;
  position: relative;
}
header .inner {
  max-width: 1020px;
  margin: auto;
}
header ul.menu {
  display: flex;
  justify-content: space-between;
  /* space-aroud는 양쪽에도 여백, between은 양쪽 여백없음 */
  height: 44px;
  position: relative;
}
header ul.menu  > li {
  display: flex;
  /* 자식a를 높이를 stretch */
  cursor: pointer;
}
header ul.menu  > li > a {
  display: flex;
  /* 중앙정렬 */
  align-items: center;
  padding: 0 10px;
  font-size: 11px;
  color: #F5F5F5;
  opacity: .8;
}
header ul.menu  > li.apple-logo > a,
header ul.menu  > li.search-starter > a,
header ul.menu  > li.basket-starter > a {
  width: 14px;
  text-indent: -9999px;
  /* 일반적으로 배경이미지 사용 시 대체 컨텐츠 들여쓰기 -9999px */
  background-position: center 13px;
  /* 좌우 center 상하 13px 위치 */
  background-repeat: no-repeat;
}
header ul.menu  > li.apple-logo > a {
  background-image: url("../images/header_apple.svg");
}
header ul.menu  > li.search-starter > a {
  background-image: url("../images/header_search.svg");
}
header ul.menu  > li.basket-starter > a{
  background-image: url("../images/header_bag.svg");
}
header ul.menu  > li:hover > a{
  opacity: 1;
}

/* header/menu/basket */
header .basket {
  width: 290px;
  padding: 10px 20px;
  border: 1px solid #D2D2D2;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: #fff;
  position: absolute;
  top: calc(100% + 4px);
  /* calc활용해서 요소 조금 아래에 배치 */
  right: -6px;
  visibility: hidden;
  transition: .4s;
  opacity: 0;
}
header .basket.show {
  visibility: visible;
  opacity: 1;
}
header .basket .arrow {
  width: 20px;
  height: 10px;
  position: absolute;
  top: -10px;
  right: 12px;
  overflow: hidden;
}
header .basket .arrow::before {
  content: "";
  border: 1px solid #D2D2D2;
  background-color: #fff;
  /* before은 inline 요소라서 block변경 안하면 크기조절이 안됨*/
  width: 12px;
  height: 12px;
  transform: rotate(45deg);
  transform-origin: 0 0;
  position: absolute;
  /* position을 주면 자동으로 block으로 변경됨 */
  top: 0;
  left: 50%
  
  
}
header .basket .message {
  padding: 30px 0;
  font-size: 13px;
  text-align: center;
  color: #3A3A3A;
}
header .basket ul {
  margin-top: 10px;
}
header .basket ul li {
  border-top: 1px solid #D2D2D2;
}
header .basket ul li a {
  display: block;
  /* 클릭 범위 확대를 위해 */
  padding: 14px;
  color: #0071E3;
  font-size: 13px;
}
header .basket ul li:hover a {
  text-decoration: underline;
}

/* header / search */
header .search-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition: .4s;
  opacity: 0;
  visibility: hidden;
}
header .search {
  max-width: 680px;
  margin: 0 auto;
  position: relative;
}
header .search .shadow {
  background-color: rgba(0, 0, 0, .8);
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
}
header .search .textfiedl {
  position: relative;
}
header .search .textfiedl input {
  width: 100%;
  height: 44px;
  padding: 0 40px;
  box-sizing: border-box;
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 17px;
  color: #fff;
}
header .search .textfiedl .search-icon {
  background-image: url('../images/header_search.svg');
  width: 40px;
  height: 44px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  opacity: .4;
}
header .search .textfiedl .search-closer {
  background-image: url('../images/header_close.svg');
  width: 40px;
  height: 44px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  opacity: .4;
}
header .search .textfiedl .search-closer:hover {
  opacity: 1;
}
header .search .autocompletes {
  background-color: #fff;
  width: 100%;
  padding: 26px 40px 20px;
  border-radius: 0 0 18px 18px;
  box-sizing: border-box;
  position: absolute;
  top: 44px;
  left: 0;

}
header .autocompletes h3 {
  font-size: 12px;
  color: #3A3A3A;
  margin-top: 12px;
}
header .autocompletes ul li a {
  display: block;
  margin: 0 -14px;
  padding: 10px 0 10px 30px;
  cursor: pointer;
}
header .autocompletes ul li:hover a {
  background-color: #F5F5F5;
  color: #0071E3;
}
/* Search Animation */
/* 스타일을 한 번에 지정 */
header .search input,
header .search .search-icon,
header .search .autocompletes h3,
header .search .autocompletes li {
  transition: .6s;
  transform: translate(100px, 0);
}
header.searching ul.menu > li {
  transform: scale(.7);
  opacity: 0;
}
header.searching .search-wrap {
  /* 사라지는 애니메이션 .2s */
  transition-delay: .2s;
  opacity: 1;
  visibility: visible;
}
header.searching .search input,
header.searching .search .search-icon,
header.searching .search .autocompletes h3,
header.searching .search .autocompletes li {
  transition-delay: .2s;
  transform: translate(0, 0);
}

/* Nav바 */
nav {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 8;
  background-color: rgba(255, 255, 255, .7);
  border-bottom: 1px solid #D2D2D2;
  backdrop-filter: blur(20px);
}
nav .inner {
  max-width: 1000px;
  margin: 0 auto;
  height: 52px;
  display: flex;
  gap: 10px;
  align-items: center;
}
nav h1 {
  flex-grow: 1;
  font-size: 22px;
  font-weight: 500;
}
nav .menu {
  display: flex;
  gap: 12px;
  margin-right: 18px;
}
nav ul {
  display: flex;
}
nav ul li a {
  display: block;
  padding: 6px;
  font-size: 11px;
}
nav .menu li.active a {
  opacity: .5;
  cursor: default;
}
nav .menu li:hover a {
  color: #0071E3;
}
nav .menu li.active:hover a {
  color: #3A3A3A;
}

